body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* overflow-x: hidden; */
}

header {
    background-color: #333333;
    padding: 20px;
    color: #ffffff;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

/* Anpassa länkfärgen när muspekaren är över länken */
header a:hover {
    color: #ff66b3;
}

h2 {
    margin-left: 20px;
    color: #333333;
}

h3 {
    margin-left: 20px;
    color: #333333;
}

p {
    /* margin-left: 20px; */
    color: #333333;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    /* margin-left: 20px; */
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    /* margin-left: 20px; */
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 20px;
}

.smallContainer {
    margin-left: 20px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.ulContainerSmall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.ulContainerLarge {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.liContainerSeller {
    background-color: #ffffff;
    width: 280px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.liContainerSmall {
    background-color: #ffffff;
    width: 240px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.liContainerLarge {
    background-color: #ffffff;
    width: 320px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

form input[type="text"] {
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
}

form input[type="text"]:focus {
    outline-color: #ff99cc;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555555;
}

input[type="text"],
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #ff3399;
    color: #ffffff;
    cursor: pointer;
}

button a {
    color: #ffffff;
}

button:hover {
    background-color: #ff66b3;
}

.smallButton {
    padding: 6px;
    background-color: #333333;
}

.smallButtonPink {
    padding: 6px;
    background-color: #ff3399;
}

.largeButton {
    background-color: #333333;
    color: #ffffff;
}

.largeButton:hover {
    color: #ff66b3;
}